* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body 
{
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgb(255, 255, 255);
    height: 110px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo 
{
    display: flex;
    align-items: center;
    font-size:  30px;
    font-weight: bold;
    color: #00bcd4;
}

.icon 
{
    font-size: 22px;
    margin-right: 5px;
    font-weight: 1000;
}

.submenu 
{
    list-style: none;
    display: flex;
    gap: 20px;
}

.submenu a 
{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.submenu .contact
{
    color: #00bcd4;
}

.enrollbtn 
{
    text-decoration: none;
    background: #00bcd4;
    color: white;
    padding: 45px 55px;
    border-radius: 5px;
    font-weight: bold;
}


.main 
{
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 130px; 
}

.left
{
    /* margin-top: 41px; */
    margin-right: 50px;
}


.box {
    background: rgb(255, 255, 255);
    padding: 30px; 
    text-align: center;
    border-radius: 10px;
    width: 280px;
    height: 280px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo i {
    font-size: 45px; 
    color: #00897b;
    margin-bottom: 15px;
}

.title h1 {
    font-size: 20px; 
    margin-bottom: 10px;
    color: #00897b;
    padding: 20px;
}

.text h3, .text a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.text a:hover
{
    color: rgba(0, 0, 0, 0.7);
}

.right {
    background: #7bd3ca;
    padding: 40px;
    border-radius: 10px;
    width: 500px; 
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.contact-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    border: none;
    background: #2a2e35;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #22272c;
}


.up
{
    display: flex;
}

.down
{
    display: flex;
}

